// colors
$light-yellow: #fcf8e3;
$yellow: #ffd530;
$light-blue: #00A9EB;
$blue: #008ed4;
$navy: #00456e;
$white: #fff;
$black: #000;
$dark-grey: #333;
$grey: #D1D2D4;

//mixins
@mixin transition($transition) {
	transition: $transition .2s ease-in-out;; 
	-moz-transition:$transition .2s ease-in-out;; 
	-webkit-transition: $transition .2s ease-in-out;; 
	-o-transition: $transition .2s ease-in-out;;
}

@mixin submit-gradient{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.45) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.17)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.45) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.45) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.45) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0.45) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bffffff', endColorstr='#00ffffff',GradientType=0 );
}

@mixin headline-shadow{
	text-shadow: 6px 6px 12px rgba(0,0,0,.3);
	filter: dropshadow(color=rgba(0,0,0,.3), offx=6, offy=6);
}

@mixin placeholder-color($placeholder-color){
	&::-webkit-input-placeholder {
   		color: $placeholder-color;
}
	&:-moz-placeholder {
   		color: $placeholder-color;  
}
	&::-moz-placeholder {
   		color: $placeholder-color;  
}
	&:-ms-input-placeholder {  
   		color: $placeholder-color;  
	}
}

@mixin futura{
	font-family: "futura-pt", Arial, sans-serif;
}

@mixin garamond{
	font-family: "adobe-garamond-pro",Times, serif;
}
@mixin franklin{
	font-family: "franklin-gothic-urw-cond", Arial, sans-serif;
	font-weight: 500;
}